@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 8 40% 3%;
    --foreground: 60 9% 98%;
    --card: 10 25% 6%;
    --card-foreground: 60 9% 98%;
    --primary: 141 73% 63%;
    --primary-foreground: 8 40% 3%;
    --secondary: 8 20% 12%;
    --secondary-foreground: 60 9% 98%;
    --muted: 8 20% 14%;
    --muted-foreground: 60 5% 65%;
    --accent: 35 100% 71%;
    --accent-foreground: 8 40% 3%;
    --destructive: 0 100% 67%;
    --destructive-foreground: 60 9% 98%;
    --border: 141 40% 25%;
    --input: 141 30% 20%;
    --ring: 141 73% 63%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-mono;
  }
}
